/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.08.2014, 13:31:16
    Author     : mteeken
*/

#gamelevel { float: left; width:350px; }
#controlls { float: left; width:250px; }
.clear { clear:both; }

#newgame {  }
#newgame.hide { display: none; }

#game {  }
#game.hide { display: none; }

#gameEnd {  }
#gameEnd.hide { display: none; }
#gameEnd h2 { margin:0px;  }

#window{
    position:absolute;
    width: 700px;
    height: 500px;
    top: 25%;
    left: 50%;
    margin-top: -75px;
    margin-left: -300px;
    border-width: 2px;
    border-style: none;
    border-color: blue;
}

#header{
    color:white;
    position:absolute;
    text-align: center;
    left:40%;
    font-family: Verdana, sans-serif;
}

#menu{
    width:300px;
    height:400px;
    left:5%;
    top:25%;
    border: solid;
    color:white;
    position:absolute;
}

body {
    background-color: #000000;
    margin: 0px;
    font-family: Verdana, sans-serif;
}

h1{
    color:white;
    font-family: Verdana, sans-serif;
}

p{
    color:white;
    font-family: Verdana, sans-serif;
    margin-left: 10%;
}

h2{
    color:white;
    font-family: Verdana, sans-serif;
}
