/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.08.2014, 13:31:16
    Author     : mteeken
*/

#gamelevel { float: left; width:350px; }
#controlls { float: left; width:250px; }
.clear { clear:both; }

#newgame {  }
#newgame.hide { display: none; }

#game {  }
#game.hide { display: none; }

#gameEnd {  }
#gameEnd.hide { display: none; }
#gameEnd h2 { margin:0px;  }